{% extends "base.html" %}
{% block title %} Posts {% endblock %}
{% block body %}

{% if edit == 'edit' %}
{% set action = "update"  %}
{% set head = "Update data" %}
{% else %}
{% set action = "insert" %}
{% set head = "Insert data" %}
{% endif %}

<h1> {{head}} </h1>
<form action="{{action}}" method="POST">
    <div>
        <label>Name :</label>
        <input type="text" name="user[name]" id="name" value="{{ posts.name }}" />
    </div>

    <div>
        <label>Mobile : </label>
        <input type="number" name="user[mobile]" id="mobile" value="{{posts.mobile}}" />
    </div>

    <div>
        <input type="submit" name="addData" />
    </div>

</form>
{% endblock%}