{% block title %} {% endblock %}
{% block body %}
{% set url="/mvc_program/mvc_vehicle1/public" %}

<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
             $( "#date" ).datepicker({
                 minDate: 1
             });
        });
    </script>
</head>
<div>
    <div>
        <h1 class="head">Vehicle Service Website</h1>
    </div>

    <div class="service-box">
        <h1>Add Service Here</h1>
        <form action="uploadService" method="POST">
            <div>
                <label>Title :</label>
                <input type="text" name="service[title]" id="title" />
            </div><br>

            <div>
                <label>Vehicle Number :</label>
                <input type="text" name="service[vehicle_number]" id="vehicle_number" />
            </div><br>

            <div>
                <label>Licence Number :</label>
                <input type="text" name="service[licence_number]" id="licence_number" />
            </div><br>

            <div>
                <label>Date :</label>
                <input type="text" name="service[date]" id="date"  />
            </div><br>

            <div>
                <label>Slot :</label>
                <select name="service[slot]" id="slot">
                    <option value="0">Select Time Slot</option>
                    <option value="9 to 10"> 9 - 10 </option>
                    <option value="10 to 11"> 10 - 11 </option>
                    <option value="11 to 12"> 11 - 12 </option>
                    <option value="12 to 1"> 12 - 1 </option>
                    <option value="1 to 2"> 1 - 2 </option>
                    <option value="2 to 3"> 2 - 3 </option>
                    <option value="3 to 4"> 3 - 4 </option>
                    <option value="4 to 5"> 4 - 5 </option>
                    <option value="5 to 6"> 5 - 6 </option>
                </select>
            </div><br>

            <div>
                <label>Isuue :</label>
                <input type="text" name="service[issue]" id="issue" />
            </div><br>

            <div>
                <label>Service Center :</label>
                <select name="service[service_center]" id="service_center">
                    <option value="0">Select Zone </option>
                    <option value="zone1"> Zone 1</option>
                    <option value="zone2"> Zone 2</option>
                    <option value="zone3"> Zone 3</option>
                </select>
            </div><br>


            <div>
                <input type="submit" name="user_login" value="Request service" />
            </div>

        </form>
    </div>
</div>
{% endblock %}