<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<style>
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
    label {
        display: inline-block;
        width: 150px;
    }
</style>
<body>
    <nav>
        <button type="button" class="btn btn-info"><a href="/mvc_program/mvc_view_11/public/Product/manageProduct">Manage Products </a></button>
        <button type="button" class="btn btn-info"><a href="/mvc_program/mvc_view_11/public/Category/manageCategory">Manage Category</a></button>
        <button type="button" class="btn btn-info"><a href="/mvc_program/mvc_view_11/public/Cms/manageCMS">Manage CMS</a></button>
        <button type="button" class="btn btn-info"><a href="/mvc_program/mvc_view_11/public/Admin/login">Log-out</a></button>
    </nav>

    {% block body %}
    {% endblock %}
</body>

</html>